<link rel="stylesheet" type="text/css" href="~/Content/StyleSheet_Pages.css" />
<div class="index_header">
    <h1 class="index_h1">
        Avior
    </h1>
    <h1 class="index_h2">
        <img alt="" src="https://www.aviordata.com/sites/aviordata.com/files/styles/slideshow-banner/public/thumbbanner/banner-image.jpg?itok=70yBUeEc" typeof="foaf:Image">
    </h1>
</div>
<div class="index_navBar">
    <ol class="index_navBar_list">
        <li>Taxes</li>
        <li>Companies</li>
        <li class="rjList">Add Company</li>
        <li>Add Developer</li>
    </ol>
</div>

<div class="add_company_outer_div">
    <form class="form_add_company">
        <h1>
            Add a new company
        </h1>
        <h2>
            Demographics
        </h2>
        <ul class="list_input">
            <li style="margin-top: 2%">
                Company Name:
                @Html.TextBox("Company Name", null, new { @style = "background-color: #96d9ff; border: none;" })
            </li>
            <li>
                Company State:
                <select style="background-color:#96d9ff; border: none;">
                    <option value="1">TX</option>
                    <option value="2">NC</option>
                </select>
            </li>
            <li>
                Fein:
                @Html.TextBox("Fein", null, new { @style = "background-color: #96d9ff;border: none;" })
            </li>
        </ul>
        <h2>
            MSA Info
            <select style="background-color:#96d9ff; border: none;">
                <option value="1">No</option>
                <option value="2">Yes</option>
            </select>
        </h2>
        <ul class="list_input" id="Tax_MSA">
            <li>
                <span>
                    DID Number:
                </span>
                <span>
                    @Html.TextBox("DID", null, new { @style = "background-color: #96d9ff;border: none;" })
                </span>
            </li>
            <li>
                <span>
                    MSA Representative:
                </span>
                <span>
                    @Html.TextBox("MSA representative", null, new { @style = "background-color: #96d9ff;border: none;width: 35%;" })
                </span>
            </li>
        </ul>
        <h2>
            Tobacco Info
            <select style="background-color:#96d9ff; border: none;">
                <option value="1">No</option>
                <option value="2">Yes</option>
            </select>
        </h2>
        <ul class="list_input" id="Tax_MSA">
            <li>
                States company sales to:
                <select name="list_states" style="background-color:#96d9ff; border: none;">
                    >
                    <option>TX</option>
                    <option>NC</option>
                    <option>CA</option>
                    <option>VI</option>
                    <option>MN</option>
                </select>
            </li>
        </ul>
        <h2>
            Alcohol Info
        </h2>
        <ul class="list_input" id="Tax_MSA">
            <li>
                States company sales to:
                <select name="list_states" style="background-color:#96d9ff; border: none;">
                    >
                    <option>TX</option>
                    <option>NC</option>
                    <option>CA</option>
                    <option>VI</option>
                    <option>MN</option>
                </select>
            </li>
        </ul>
        <h2>
            Fuel Info
        </h2>
        <ul class="list_input" id="Tax_MSA">
            <li>
                States company sales to:
                <select name="list_states" style="background-color:#96d9ff; border: none;">
                    >
                    <option>TX</option>
                    <option>NC</option>
                    <option>CA</option>
                    <option>VI</option>
                    <option>MN</option>
                </select>
            </li>
        </ul>
        <h2>
            Sales and Use Tax Info
        </h2>
        <ul class="list_input" id="Tax_MSA">
            <li>
                States company sales to:
                <select name="list_states" style="background-color:#96d9ff; border: none;">
                    >
                    <option>TX</option>
                    <option>NC</option>
                    <option>CA</option>
                    <option>VI</option>
                    <option>MN</option>
                </select>
            </li>
        </ul>
        <button style="margin-left: 45%">Submit</button>
    </form>
</div>

