@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/StyleSheet_Pages.css" />
<div class="index_header">
    <h1 class="index_h1">
        Avior
    </h1>
    <h1 class="index_h2">
        <img alt="" src="https://www.aviordata.com/sites/aviordata.com/files/styles/slideshow-banner/public/thumbbanner/banner-image.jpg?itok=70yBUeEc" typeof="foaf:Image">
    </h1>
</div>
<div class="index_navBar">
    <ol class="index_navBar_list">
        <li>Taxes</li>
        <li>Companies</li>
        <li class="rjList" onclick="location.href = '@Url.Action("Contact", "Home")' ">Add Company</li>
        <li>Add Developer</li>
    </ol>
</div>
@*<div>
    @Html.Partial("Add_Company", new { @class:"load_addCompany_Partial" })
</div>*@